h1{
    border: 2px solid black;
    color: darkgreen;
    size: 0cap;
    background-color: gainsboro;
    font: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: lightgreen;
    margin: 7%;
}
p{
    font-size: smaller;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}